* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --box-unit: 150px;
  --second-color: #6874ac;
}

.hover-text {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.hover-text:hover {
  color: var(--second-color);
  font-size: 1.25rem;
}

.box {
  position: fixed;
  width: var(--box-unit);
  height: var(--box-unit);
  background: #ff0000;
  border: 1px solid #000;
  animation: size-down 1s cubic-bezier(0.17, 1, 0.83, 0.67) 0.5s infinite
    alternate both;
}

/* 
cubic-bezier(
  0.17, 1, X
  0.83, 0.67 Y)
 */

@keyframes size-down {
  100% {
    transform: scale(0.3, 0.3);
    background: var(--second-color);
  }
}
