.box {
  width: 100px;
  height: 100px;
  background: blue;
  border: 1px solid #000;
  animation: supersize 2s ease-out 0s 4 alternate both;
}

@keyframes supersize {
  0% {
    width: 100px;
    height: 100px;
    background: blue;
  }
  50% {
    width: 200px;
    height: 200px;
    background: red;
  }
  100% {
    width: 500px;
    height: 500px;
    background: green;
  }
}
